details summary {
  background-color: #e3b1a2;
  padding: 5px;
  cursor: pointer;
  direction:ltr;
}

/* Custom styles for the hidden content */
details {
    margin-bottom: 3em;
}


body {
	direction:rtl;
}

pre.r {
    direction: ltr;
}


.section, .white-bg {
    background-color: #ffffff;
    padding: 2em;
}


body {
    background-color: #fff4f4;
}

a.anchorjs-link {
    display: none;
}